@model IEnumerable<DeliveryApp.Models.Establishment>

@{
    ViewBag.Title = "Index";
}

<h2>Establishment</h2>

<p>
    @Html.ActionLink("Create New Establishment", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BusinessType.BusinessTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstablishmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstablishmentWebsite)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessType.BusinessTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstablishmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstablishmentWebsite)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EstablishmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EstablishmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EstablishmentId })
        </td>
    </tr>
}

</table>
